<!DOCTYPE html>
<html>
<head>
  <title>ZeroTask</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>
<div id="wrap">

<% flash.each do |key, msg| %>
	<%= content_tag :div, msg, :id => key %>
<% end %>
	
<%= yield %>

</div>
</body>
</html>
