<!DOCTYPE html>
<html>
<head>
  <title>ZeroTask</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>
<div id="wrap">
	
	<% if @current_user %>
	    <i>Logged in as: <%= @current_user.email %></i> | Not you? -
	    <%= link_to "Log out", log_out_path %>
	  <% else %>
	    <%= link_to "Sign up", sign_up_path %> or
	    <%= link_to "log in", log_in_path %>
	  <% end %>

<% flash.each do |key, msg| %>
	<%= content_tag :div, msg, :id => key %>
<% end %>
	
<%= yield %>

</div>
</body>
</html>
